@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(255, 255, 255);
}

html, body {
    background-color: #121212;
}

img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}
