@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(255, 255, 255);
}

html, body {
    background-color: #121212;
}

img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

a:link, a:visited, a:active, .nav-link:link, .nav-link:visited, .nav-link:active { 
    color: #dc2834;
}

a:hover, .nav-link:hover { 
    color: #ab1c26; 
}

.title {
    display: inline-block;
    padding-left: 10px; 
    font-size: 40px; 
    font-weight: bold;
}

@media screen and (max-width: 425px) {
    .title {
        display: none;
    }
}
