<footer>
    <div class="container-fluid" style="margin-top: 20px; padding: 30px;">
        <div class="row">
            <div class="col text-center">
                <p>s&box TTT was created by <a href="https://github.com/matekdev">Matthew Zegar</a> & <a
                        href="https://github.com/kolexxx">Kosta Novosel</a></p>
                <div class="d-flex justify-content-center" style="margin: 15px; display: grid; grid-column-gap: 20px;">
                    <a href="https://github.com/CigarLounge/sbox-TTT"><i class="fab fa-github"></i></a>
                    <a href="https://discord.gg/rrsrakF8N3"><i class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
